@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}

html,
body {
  width: 100%;
  /* perspective: 800px; */
  height: 100%;
}
*::selection {
  background-color: #fff;
  color: #64ccc5;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background-color: #176B87;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 50px;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: #64ccc5;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}
#cursor-blur {
  height: 400px;
  width: 400px;
  background-color: #64ccc553;
  border-radius: 50%;
  position: fixed;
  filter: blur(50px);
  z-index: 9;
}

#nav {
  position: fixed;
  min-height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 50px;
  z-index: 99;
  justify-content: center;
}
#nav .nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
#nav img {
  height: 65px;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
}
#nav h4 a{
  text-decoration: none;
}
#nav .hamburger{
  display: none;
  cursor: pointer;
}
#nav .hamburger .bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 100px;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "SIGMAEDGE";
  position: absolute;
  color: #000;
  top: -6px;
  left: -6px;
  -webkit-text-stroke: 1px #64ccc5;
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 20px;
  font-weight: 100;
  width: 40%;
}
#page1 #arrow {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 2px solid #64ccc5;
  position: absolute;
  top: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}
#page1 #arrow i {
  font-size: 40px;
  font-weight: 100;
}
#page1 #arrow:hover {
  scale: 0.4;
  background-color: #64ccc5;
}
/* #page1 #arrow:hover i {
  font-size: 70px;
} */
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}
#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#scroller h4 {
  display: inline-block;
  font-size: 80px;
  font-weight: 900;
  margin-right: 10px;
  color: transparent;
  transition: all linear 0.4s;
  -webkit-text-stroke: 2px #64ccc5;
  font-family: "Gilroy";
}
#scroller h4:hover {
  color: #64ccc5;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  padding: 0 50px;
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}
#about-us img {
  width: 26%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
#about-us-in {
  width: 50%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 30px;
}
#about-us-in p {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}
#cards-container {
  width: 80%;
  height: 50vh;
  display: flex;
  margin: 2rem auto;
  padding: 10% 0;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
#cards-container>div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#cards-container .card {
  height: 100%;
  width: calc(33% - 20px);;
  border-radius: 20px;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  cursor: pointer;
  transition: all ease 0.6s;
}
.card1 {
  background-image: url(./images/pexels-athena-2582935.jpg);
}
.card2 {
  background-image: url(./images/pexels-tima-miroshnichenko-6755081.jpg);
}
.card3 {
  background-image: url(./images/pexels-pok-rie-1432675.jpg);
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #64ccc5;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 20px;
}
.overlay p {
  color: #000;
  font-size: 14px;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}
#gallery{
  display: flex;
}
#gallery .left{
  width: 50%;
}
#gallery .left .detailsWrapper {
  margin:auto;
  width:80%;
}
#gallery .left .detailsWrapper .details {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
#gallery .right {
  width:50%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.right .photos {
  width:40vw;
  height:40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  position:relative;
}
.right .photos .photo {
  position:absolute;
  width:90%;
  height:90%;
  border-radius: 20px;
}

#page3 {
  width: 100%;
  background-color: #000;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
    padding-bottom: 20%;
}
#page3 #insights{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#insights h1{
  margin-bottom: 2rem;
}
#page3 #insights #row{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#insights #row #left-col{
  padding: 0 1rem;
  width: 50%;
}
#insights #row h4{
  margin-bottom: 1rem;
}
#insights #row #right-col{
  padding: 0 1rem;
  width: 50%;
}
#page4 {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 40px;
}
#page4 h1 {
  font-size: 96px;
  position: absolute;
  top: -50px;
  font-weight: 900;
  font-family: "Gilroy";
  color: black;
  -webkit-text-stroke: 2px #fff;
}
#page4 #box {
  height: 60%;
  width: 24%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
#box h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  position: absolute;
  z-index: 10;
}
#page4 #box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
#page4 #box:hover h2 {
  color: #fff;
  background-color: transparent;
}
#page4 #box:hover img {
  scale: 1;
}
#footer{
  background: linear-gradient(to left bottom #176B87, #64ccc5);
  padding: 70px 0;
  position: relative;
  z-index: 10;
}
#footer .row{
  display: flex;
  flex-wrap: wrap;
}
.footer-container{
  max-width: 90%;
  margin: auto;
}
.footer-container ul{
  list-style: none;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li{
  transition: all ease 0.3s;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li:hover{
  padding-left: 10px;
}
.footer-col ul li a{
  font-size: 15px;
  margin: 0 10px;
  text-decoration: none;
}
.footer-col .social-link a{
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  margin-left: 10px;
}


@media screen and (max-width: 768px) {
  #nav {
    width: 100vw;
    /* height: 5rem; */
    padding: 0 1rem;
    justify-content: space-between;
  }
  #nav .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  #nav .hamburger{
    display: block;
  }
  #nav .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  #nav .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  #nav .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  #nav .nav-menu h4{
    margin: 66px 0;
  }
  #nav .nav-menu.active{
    position: fixed;
    top: 200px;
    left: 0;
  }
  video {
    width: 100vw;
  }
  #page1 h1 {
    font-size: 54px;
  }
  #page1 h2 {
    font-size: 27px;
  }
  #page1 p {
    width: 80%;
    font-size: 14px;
  }
  #about-us {
    padding: 0 5px;
    /* height: 70vh; */
  }
  #about-us img {
    width: 85%;
    height: 60%;
  }
  #about-us-in {
    width: 95%;
  }
  #about-us-in h3 {
    font-size: 2.5rem;
    margin-top: 16px;
    margin-bottom: 13px;
  }
  #about-us-in p {
    font-size: 1rem;
  }
  #page2 #cards-container {
    height: 60rem;
    flex-direction: column;
    margin-top: 50%;
  }
  #page2 #cards-container .card {
    width: 100%;
    height: 45%;
    margin-top: 20px;
  }
  #page3 #insights #row{
    gap: 2rem;
    width: 95%;
  }
  #page3 #insights #row #left-col{
    width: 90%;
  }
  #page3 #insights #row #right-col{
    width: 90%;
  }
  #page4 {
    height: 60vh;
    margin: 2rem 0;
    flex-direction: column;
  }
  #page4 h1 {
    font-size: 41px;
    top: -37px;
    -webkit-text-stroke: 1px #fff;
  }
  #page4 #box {
    width: 70%;
  }
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }

}

